@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <p>Ova web aplikacija razvija se u razor tehnologiji i cilj je polaganje ispita kolegija .Net</a>.</p>
</div>
